<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jago.sijago">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCtgsxOuoq1HJ028E807qISt0qsw8iMTTQ"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
</manifest>
